<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <button type="button" class="close pull-right" aria-label="close" routerLink="">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-4">
          <img src="assets\resources\images\profileGIF.gif" />
        </div>
        <div class="col-8 text-justify text-entering">
          <p> {{ aboutText }} </p>
        </div>
      </div>
    </div>
  </div>
</div>