<div class="card card-body">
  Currently working on internal company applications. Maintaining and fixing parts of large company projects.
  Technologies that i use in these projects are Java, Spring, Angular 2+, Javascript. These
  applications are used to keep track of employees, their absences, travel expenses and other expenses during
  a business trip, and their personal information. Since this information is very important, care must be
  taken with the
  security of the applications, which is also my job.
</div>