<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-10">
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            IGS - Ital Gas Storage
          </button>
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            Sapienza
          </button>
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
            Other...
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="close pull-right" aria-label="close" routerLink="">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div id="accordion" class="text-justify">
        <div class="collapse" id="collapseExample" data-parent="#accordion">
          <div class="card card-body">
            IGS – Ital Gas Storage<br /><br />
            Web application for storing and distribution of gas in Italy
            <br />
            <ul>
              <li>Developed microservices for adding new app features (file storage,
                user creation, administration, gas storage data microservices, tickets
                formaintaining app...)</li>
              <li>Development of RESTful web services(Spring Boot) for various data
                retrieving and manipulation requested by front-end side which I’ve
                done in Angular 5</li>
              <li>Implementation of Angular smart tables for data representation,
                adding clone, editing data and graph filtering by time functionalities
              <li>Designed and implemented various chart representation of
                data using AmCharts</li>
              <li>Technologies: TypeScript(Angular 5), Java(Spring Boot, Spring Data),
                MSSQL, JHipster, Git</li>
            </ul>
          </div>
        </div>
        <div class="collapse" id="collapseExample2" data-parent="#accordion">
          <div class="card card-body">
            Sapienza<br /><br />
            Web application for managing bills for gas, electricity and water of University Sapienza, Rome<br />
            <ul>
              <li>Working on Front-End side in Angular 6
              <li>Various data retrieving and manipulating requests
              <li>Implementation functionality for filtering bills and invoices, charts data representation, upload
                diﬀerent types of files</li>
            </ul>
          </div>
        </div>
        <div class="collapse" id="collapseExample4" data-parent="#accordion">
          <other></other>
        </div>
      </div>
    </div>
  </div>
</div>