<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col-10">
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            IGS - Ital Gas Storage
          </button>
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
            Sapienza
          </button>
          <button class="btn m-2 eightbit-btn eightbit-btn--proceed" type="button" data-toggle="collapse"
            data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">
            Other...
          </button>
        </div>
        <div class="col-2">
          <button type="button" class="close pull-right" aria-label="close" routerLink="">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div id="accordion" class="text-justify">
        <div class="collapse" id="collapseExample" data-parent="#accordion">
          <project-igs></project-igs>
        </div>
        <div class="collapse" id="collapseExample2" data-parent="#accordion">
          <project-sapienza></project-sapienza>
        </div>
        <div class="collapse" id="collapseExample4" data-parent="#accordion">
          <project-other></project-other>
        </div>
      </div>
    </div>
  </div>
</div>