<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-end">
        <button type="button" class="close pull-right mr-3" aria-label="close" routerLink="">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="row justify-content-center mb-5">
        <a href="https://www.linkedin.com/in/vujicaco/" target="_blank"><img class="mr-5"
            src="assets\resources\images\linkedin.jpg" alt="linkedin" /></a>
        <a href="https://github.com/AleksandarVujic" target="_blank"><img class="mr-5"
            src="assets\resources\images\github.jpg" alt="github" /></a>
        <a href="https://www.facebook.com/vujicaco" target="_blank"><img class="mr-5"
            src="assets\resources\images\facebook.jpg" alt="facebook" /></a>
      </div>
      <div class="row justify-content-center mb-5">
        <div class="col-4 text-justify">
          <h6 class="mb-3">You can contact me at any time by e-mail and phone:</h6>
          <p class="text-center"><a id="link" href="mailto: vujicaco@gmail.com">vujicaco@gmail.com</a></p>
          <p class="text-center">065/27-37-447</p>
        </div>
      </div>
      <p class="text-center mt-3">Please find my biography attached below:</p>
      <div class="row justify-content-center mb-1">
        <a id="link" [href]="fileUrl" download="Aleksandar Vujic.pdf"><i class="fa fa-file-text fa-4x"
            aria-hidden="true"></i></a>
      </div>
      <div class="row justify-content-center">
        <p>Biography</p>
      </div>
    </div>
  </div>
</div>